body{
	background-color: rgb(250,250,250);
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
}


#imagehome{
	max-width: 100%;
	height: auto;
}


.accrochehome{
	background-color: rgba(3,32,49,100);
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper{
	height:50px;
}

.navbar-transparent {
  background-color: rgba(3,32,49,100);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #FFB800;
  font-size:20px; 
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0,0,0, 0.3);
}

	
.géolocalisation, .paiement, .hubuser, .voyage{
	margin: 40px;
	border: 1px solid black;
	box-shadow:2px 2px 1px rgb(30,30,30);
	padding-top: 60px;
	color: white;
    display: inline-block;
    background-color: rgba(3,32,49,100);
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.btn-primary {
 background-color:#FFB800;
 color: #032031;
 font-size: 20px;
}

.btn-primary:hover {
  background-color: white;
  border-color: black;
  color: #032031;
}


.footer {
	background-color: rgb(30,30,30);
	font-size: 16px;
	text-align: center;
	margin-top: 150px;
}

#footerlogo{
	color: white;
	font-size: 30px;
}


#footercontact a:hover {
	color:#FFB800;
}

#footercontact {
	padding-top: 40px;
}

.contact{
	color: rgba(3,32,49,100);
	margin-left: auto;
	margin-right: auto;
	width:650px;
}

.features{
	margin-top: 130px;
}

.features a:hover {
	text-decoration: none;
color:#FFB800;
}

#localise-bus, #paye-bus, #hubuser, #national{
 color: #032031;
 font-size: 30px;
 position: fixed;
 top: 100px;
}

.modal-header{
	font-size: 80px;
}



